@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-size: 44px; 
    color: crimson; 
    font-family: "Roboto"
}

h2 {
    font-size: 30px;
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-size: 20px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: cornflowerblue;
}